<body>
    <header id="playerHeader">
        <div id="nameDisplay">
            Mike (MTC)
        </div>
        <div id="numberOfWins">
            <img class="crownIcon" src="/CallYourShot/src/assets/images/crownIcon.png"/>
            <img class="crownIcon" src="/CallYourShot/src/assets/images/superCrownIcon.png"/>
            <img class="crownIcon" src="/CallYourShot/src/assets/images/crownIcon.png"/>
            <img class="crownIcon" src="/CallYourShot/src/assets/images/crownIcon.png"/>
            <img class="crownIcon" src="/CallYourShot/src/assets/images/crownIcon.png"/>
            <img class="crownIcon" src="/CallYourShot/src/assets/images/crownIcon.png"/>
        
        </div>
    </header>

    <div id="mainContainer">
        <div id="playerIcon"></div>
        <div id="playerInfo">
            <label id="cWLabel">Current Wins</label>
            <div id="currentWins">
                <input type="checkbox" class="currentWins">
                <input type="checkbox" class="currentWins">
                <input type="checkbox" class="currentWins">
                <input type="checkbox" class="currentWins">
                <input type="checkbox" class="currentWins">
            </div>
            <div id="currentRoll">36</div>
        </div>
    </div>

    <footer>
        <ul id="dookieAndWins">
            <li><img class="perfectRoll" src="/CallYourShot/src/assets/images/perfectRoll.png" alt="Perfect Rolls"></li>
            <li><img class="perfectRoll" src="/CallYourShot/src/assets/images/perfectRoll.png" alt="Perfect Rolls"></li>
            <li><img class="perfectRoll" src="/CallYourShot/src/assets/images/perfectRoll.png" alt="Perfect Rolls"></li>
            <li><img class="dookie" src="/CallYourShot/src/assets/images/dookieIcon.png" alt="dookie"></li>
            <li><img class="dookie" src="/CallYourShot/src/assets/images/dookieIcon.png" alt="dookie"></li>
            <li><img class="dookie" src="/CallYourShot/src/assets/images/dookieIcon.png" alt="dookie"></li>
            <li id="consWins">6</li>
        </ul>
    </footer>
    
</body>